.item_name{
  width:20%;
}

.description{
    width:48%;
    padding-right:2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-show-page{
    width:48%;
    padding-right:2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.price{
  width: 10%;
}

.link{
  width: 10%;
}

.picker{
  width: 10%;
}

$small: 600px;

.list-flex{
  flex-direction: row !important;
  display: flex;
}

  //some CSS
  @media screen and (max-width: $small) {

  .list-flex{
    display: inline;
  }

  .item_name{
    width: 100%;
    font-weight: bold;
    margin-top: 2%;
    float:left
  }

  .description{
    width: 63%;
    padding-right: 2%;
    float: left;
    padding-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

   .description-show-page{
    width: 63%;
    padding-right: 2%;
    float: left;
    padding-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price{
    width: 10%;
    float: left;
  }

  .link{
    width: 10%;
    float: left;
  }

  .picker{
    width: 5%;
    float: left;
  }
}







