.item_name{
    min-width: 20%;
    margin-right: 2%;
}

.description{
    width:48%;
    padding-right:2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.w-10{
  width: 10%;
  float: left;
}

.w-12{
  width: 10%;
  float: left;
}

$small: 767px;

.list-flex{
  flex-direction: row !important;
  display: flex;
}

  //some CSS
  @media screen and (max-width: $small) {

  .list-flex{
    display: inline;
  }

  .item_name{
    width: 100%;
    font-weight: bold;
    margin-top: 2%;
    float:left
  }

  .description{
    width: 70%;
    padding-right: 2%;
    float: left;
    padding-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .m-w-60{
    width: 60%;
  }


}







